![](https://image-1256668828.cos.ap-shanghai.myqcloud.com/data_01.png)

## 本周摘要
 - Python基础操作

- ` 讲师个人主页：` www.zhang-ran.com

>- 开始录屏

`Python基础操作`

缩进易错点：
- 同一层级的代码块缩进不统一
- 混用空格和 Tab 键进行缩进
- 应该缩进的地方没缩进

- 使用斜杠 \ 将一行的语句分为多行显示
- 每行建议最长为79个字符
- Python可以在同一行中使用多条语句，语句之间使用分号 ; 分割
- 注释的文本 Python 解释器不会运行，Windows 快捷键：Ctrl + /    Mac 快捷键：Command + /
- 行注释与块注释

>- 代码演示

In [1]:
# len()

a = [2,2,3,4,5,5]
len(a)

6

In [2]:
set(a)

{2, 3, 4, 5}

In [3]:
for x in range(3):
    print(x)

0
1
2

In [4]:
for i in range(0,3):
    print(i)

0
1
2

In [5]:
for i in range(0,3):
    i += 5
    print(i)

5
6
7

In [6]:
for _ in range(3):
    print(_)

0
1
2

> ` 拓展 `

In [7]:
x = ['I','lOVE','YOU','!']
for index, value in enumerate(x):
    print(index, value)

0 I
1 lOVE
2 YOU
3 !

In [8]:
a = ['x',2,3]
b = ['y',5,6,7]
c = ['z',8,8,8,8]

In [9]:
list(zip(a,b))

[('x', 'y'), (2, 5), (3, 6)]

In [10]:
list(zip(b,c))

[('y', 'z'), (5, 8), (6, 8), (7, 8)]

- `lambda表达式，通常是在需要一个函数，但是又不想费神去命名一个函数的场合下使用，也就是指匿名函数`

- `lambda所表示的匿名函数的内容应该是很简单的，如果复杂的话，干脆就重新定义一个函数了`

In [11]:
i = lambda x, y : x*y
i(2,3)

6

In [12]:
def square(x):
    return x ** 2

x = map(square, [1,2,3])

>- WIN常用命令  https://www.cnblogs.com/kekec/p/3662125.html
>- MAC常用命令  https://blog.csdn.net/grl18840839630/article/details/80036210
>- Markdown语法  https://pandao.github.io/editor.md/

In [15]:
class x():
    
    "测试：这是注释文档！"
    
    pass

print( x().__doc__ )

测试：这是注释文档！

In [16]:
# 这里只是演示，你本地没有对应的脚步会报错
# 演示使用notebook生成DocString的脚本

import DocString
DocString.__doc__, DocString.f.__doc__

('This is the module docstring 模块文档', 'This is the function docstring 函数文档')

In [17]:
# 查看当前文件路径

import os
cwd = os.getcwd()
print(cwd)

/Users/Ran/Desktop/DA入门课件ALL

In [18]:
print(os.listdir())

['Week-01-直播课件.ipynb', 'global_data.csv', 'Week-10-直播课件.ipynb', '向量运算numpy.ipynb', 'Week-09-直播课件.ipynb', '.DS_Store', 'AppleStore.csv', 'Week-04-直播课件.ipynb', 'open_read.txt', 'ab-data.csv', 'coffee_dataset.csv', 'Week-03-直播课件.ipynb', 'Week-12-直播课件.ipynb', 'pro_df.csv', '__pycache__', 'Klout_score.csv', 'Week-06-直播课件.ipynb', 'Week-08-直播课件.ipynb', 'DocString.py', 'chicago.csv', 'new_york_city.csv', 'AppleStore_description.csv', 'Week-05-直播课件.ipynb', 'Week-11-直播课件.ipynb', '.ipynb_checkpoints', 'winequality_edited.csv', 'Week-07-直播课件.ipynb', 'Week-00-开班仪式.ipynb', 'tmdb-movies.csv', 'Week-02-直播课件.ipynb', 'washington.csv', 'city_data.csv']

In [19]:
os.chdir("/Users/Ran/Desktop")
cwd = os.getcwd()
print(cwd)

/Users/Ran/Desktop

In [20]:
os.chdir("/Users/Ran/Desktop/DA入门课件ALL")
cwd = os.getcwd()
print(cwd)

/Users/Ran/Desktop/DA入门课件ALL

In [21]:
# 下面命令要在在终端或命令窗口进入Python环境测试

'''
f = open('open_read.txt', 'r')
f.read()

终端中退出python
exit()

退出终端
exit
'''

"\nf = open('open_read.txt', 'r')\nf.read()\n\n终端中退出python\nexit()\n\n退出终端\nexit\n"

- 演示怎么下载课件脚本和数据集
- 不用终端的虚拟环境路径和调试
- 在本地notebook中调试项目作业
- 打开终端，进入虚拟环境，确认路径

- `项目二关键函数拆解`

In [22]:
city = input('Hi, which city do you like ? ')
city

Hi, which city do you like ? OK

'OK'

In [23]:
import time
start_time = time.time()

In [24]:
end_time = time.time()
use_time = end_time - start_time
print("This took %s seconds" % (use_time))

This took 0.011590957641601562 seconds

In [25]:
def which_city():

    while True:
        city = input('Hi, which city do you like ? ')
        break
   
    return city.lower()

def main():
    while True:
        city = which_city()
        
        print("-"*50)
        print("Hi, which city do you like ?")
        print (city)
        break

if __name__ == "__main__":
    main()

Hi, which city do you like ? OK
--------------------------------------------------
Hi, which city do you like ?
ok

In [26]:
import pandas as pd
df = pd.read_csv('chicago.csv')
df.head(1)

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0

In [27]:
df['Start Time'].head(1)

0    2017-06-23 15:09:32
Name: Start Time, dtype: object

In [28]:
df['Start Time'] = pd.to_datetime(df['Start Time'])

In [29]:
df['Start Time'].head(1)

0   2017-06-23 15:09:32
Name: Start Time, dtype: datetime64[ns]

In [30]:
df['month'] = df['Start Time'].dt.month
df['weekday'] = df['Start Time'].dt.weekday
df['day'] = df['Start Time'].dt.day
df['hour'] = df['Start Time'].dt.hour
df['combination_station'] = df['Start Station'] + '+' + df['End Station']
df.head(1)

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,month,weekday,day,hour,combination_station
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0,6,4,23,15,Wood St & Hubbard St+Damen Ave & Chicago Ave

- 注意，这个寻找问题的方法是完成课程的基本能力

>- https://dwz.cn/d07JqNVw
>- https://blog.csdn.net/orangefly0214/article/details/82729911

In [44]:
# 如果不确定调试会不会把原始数据覆盖，可以做个COPY

df_copy = df.copy()

In [55]:
common_month = df['month'].mode()
common_month

0    6
dtype: int64

In [56]:
type(common_month)

pandas.core.series.Series

In [57]:
common_month = df['month'].mode()[0]
common_month

6

In [33]:
total_trip_time = df['Trip Duration'].sum()
mean_trip_time = df['Trip Duration'].mean()
total_trip_time, mean_trip_time

(280871787, 936.23929)

In [34]:
user_types = df['User Type'].value_counts()
user_types

Subscriber    238889
Customer       61110
Dependent          1
Name: User Type, dtype: int64

In [35]:
# 后面还会用到

# min()
# max()
# try
# except