![](https://image-1256668828.cos.ap-shanghai.myqcloud.com/data_01.png)

## 本周摘要

- 学习路径
- 项目一讲解

- ` 讲师个人主页：` www.zhang-ran.com

>- 开始录屏

> `项目一讲解`

- 课件加载
- 论坛演示
- 四个项目进度
- 课件未看完亦可提交项目

> [Excel 设置坐标轴和标题 动画](https://udacity-reviews-uploads.s3.us-west-2.amazonaws.com/_attachments/67065/1552198398/weather-tianjin10.gif)

|项目|周数|
| ------ | ------ |
| 项目一 | Week00 -> Week01 |
| 项目二 | Week02 -> Week05 |
| 项目三 | Week06 -> Week08 |
| 项目四 | Week09 -> Week12 |

- SQL和Python的时间安排
- 新手学习Python的注意：次序学习和结果导向
- Jupyter Notebook 课件

`开班仪式内容回顾`

- 学习路径
- 我的教室
- 答疑路径
- 班级主页
- 浏览器推荐
- 加讲师微信
- 我的教室和项目提交演示

> `选修拓展部分`

In [1]:
# import pandas
import pandas as pd

# create a database engine
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)

# read csv file
city_data = pd.read_csv('city_data.csv')
global_data = pd.read_csv('global_data.csv')

# create tables
city_data.to_sql('city_data', con=engine)
global_data.to_sql('global_data', con=engine)

Save_filename = 'output.csv'

In [2]:
# functionalization

def sql_practice(SQLquery, Save_filename):
    data = []
    
    # create a new dataframe using sql
    dataset = engine.execute(SQLquery).fetchall()
    print(dataset)
    
    for i in dataset:
        data.append(i[1:])
    dataframe = pd.DataFrame(data)
    
    #output the file as a csv file
    file = open(Save_filename,"w")
    dataframe.to_csv(file)
    file.close()

In [3]:
city_data.head()

   year     city        country  avg_temp
0  1849  Abidjan  Côte D'Ivoire     25.58
1  1850  Abidjan  Côte D'Ivoire     25.52
2  1851  Abidjan  Côte D'Ivoire     25.67
3  1852  Abidjan  Côte D'Ivoire       NaN
4  1853  Abidjan  Côte D'Ivoire       NaN

In [4]:
global_data.head()

   year  avg_temp
0  1750      8.72
1  1751      7.98
2  1752      5.78
3  1753      8.39
4  1754      8.47

In [5]:
# Q1:输出英国伦敦市1990年-2000年的平均气温

SQLquery = \
"SELECT year, avg_temp \
FROM city_data \
WHERE year \
BETWEEN 1990 AND 2000 \
AND city = 'London' \
AND country = 'United Kingdom'"

# sql_practice(SQLquery, Save_filename)
engine.execute(SQLquery).fetchall()

[(1990, 10.94),
 (1991, 9.67),
 (1992, 10.15),
 (1993, 9.69),
 (1994, 10.48),
 (1995, 10.55),
 (1996, 9.27),
 (1997, 10.64),
 (1998, 10.4),
 (1999, 10.86),
 (2000, 10.52)]

In [6]:
# Q2:输出英国伦敦市的平均温度低于全球当年平均温度的年份

SQLquery = \
"SELECT c.year, c.avg_temp AS city_temp, g.avg_temp AS global_temp \
FROM city_data AS c, global_data AS g \
WHERE c.year = g.year \
AND c.avg_temp < g.avg_temp \
AND c.city = 'London' \
AND c.country = 'United Kingdom'"

# sql_practice(SQLquery, Save_filename)
engine.execute(SQLquery).fetchall()

[(1799, 7.94, 8.51),
 (1855, 8.03, 8.11),
 (1879, 7.62, 8.17),
 (1962, 8.65, 8.75),
 (1963, 8.48, 8.86),
 (2010, 9.38, 9.7)]

In [7]:
# Q3:输出南京市平均温度高于上海市的那些年份

SQLquery = \
"SELECT c1.year, \
c1.avg_temp AS Nj_temp, \
c2.avg_temp AS Sh_temp \
FROM city_data AS c1, \
city_data AS c2 \
WHERE c1.year = c2.year \
AND c1.avg_temp > c2.avg_temp \
AND c1.city = 'Nanjing' \
AND c2.city = 'Shanghai'" 

# sql_practice(SQLquery, Save_filename)
engine.execute(SQLquery).fetchall()

[(2013, 17.88, 17.86)]